body {
  font-size: 14px;
  
  background: white;
  /*background: linear-gradient(to bottom right, #fff, #fff, #e5e5e5);*/
  margin: 0px;
  padding: 0px;
  height: 100%;
}


#app {
  min-height: 100%;
  position: relative;
}

.navbar {
    border-radius: 2px;
    border: none;
    position: relative;
    background-color: #282828;
    padding: 10px;
}

.app-body {
  padding: 10px;
  padding-bottom: 50px;
}

.footer {
  background-color: #282828;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  align-content: center;
}

/*--------- bootstrap CSS changes -------*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #aaaaaa;  /*Sets the text hover color on navbar*/
}


/*looks like this does nothing right now*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #282828;
}

/*-- sets the nav buttons--*/
.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
  background-color: #282828;
}

/*---------------------------------------*/


.home-page, .AboutMe, .contact {
  margin-left: 20px;
  margin-right: 20px;
}

.coming-soon {
  text-align: center;
}

/*============== HOME PAGE ==============*/

.fjeng {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.headline {
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}


/*------------ profile section ----------*/
.profile {
  display: inline;
  width: 21%;
  float: left;
  margin: 2%;
}

.profile_photo {
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
}



/*---------------------------------------*/

.home_content {
  width: 900px;
  margin: auto;
}

/*----------- home blurb section ----------*/
.home_blurb {
  border: 1px solid black;
  border-radius: 4px;
  margin: 2%;
  display: inline;
  float: left;
  width: 71%;
  padding: 5px;
  font-size: 15px;
}

/*---------------------------------------*/

/*----------- home navi section ---------*/

.home_nav {
  display: block;
  width: 100%;
  float: left;
  padding-top: 15px;
}


.home_nav_buttons {
  display: inline;
  float: left;
  border: 1px solid black;
  width: 31.3%;
  margin: 1%;
  cursor: pointer;
}

/*
.home_nav_link {
  display: block;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
*/

.home_nav_img {
  max-width: 100%;
  max-height: 100%;
  width: 1000px;
  padding: 24%;
  display: block;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-size: 100%;
  background-repeat: no-repeat;
}

.home_nav_aboutme {
  background-image: url("/assets/img/homePage/multnomahSelf-min.jpg");
}

.home_nav_projects {
  background-image: url("/assets/img/homePage/navProjects-min.jpg");
}

.home_nav_resume {
  background-image: url("/assets/img/homePage/navResume.jpg");
}

.home_nav_img:hover {
  color: #d8d8d8;
}

/*---------------------------------------*/

@media screen and (max-width: 960px) {

  .home_content {
    width: 96%;
    margin: 2%;
  }

}


@media screen and (max-width: 900px) {

  .profile_photo {
    width: 100%;
  }

}

@media screen and (max-width: 800px) {

  .home_nav_buttons {
    display: block;
    width: 47%;
    margin: 10px 1.5%;
  }
}
  

@media screen and (max-width: 600px) {
  .profile {
    display: block;
    width: 100%;
    float: none;
    margin-left: 30%;
  }
  .profile_photo {
    width: 40%;
  }

  .home_blurb {
    display: block;
    width: 90%;
    float: none;
    margin: 5%;
  }

  .home_nav_buttons {
    display: block;
    width: 90%;
    margin: 5%;
  }
}

/*=======================================*/
/*=======================================*/





/*============ ABOUT ME PAGE ============*/

.about_me {
  width: 900px;
  margin: auto;
  /*border: 3px solid black;*/
}

.about_me_header {
  font-size: 15px;
  font-weight: bold;
  /*border: 2px solid green;*/
}

.about_me_subhead {
  text-decoration: underline;
}

.about_me_content {
  /*border: 2px solid blue;*/

}

@media screen and (max-width: 950px) {
  .about_me {
    width: 90%;
    margin: 10px 5%;
  }
}



/*----------- parallax section ----------*/

.parallax_home {
    /* The image used */
    background-image: url("/assets/img/homePage/goldengate.jpg");
    /* Set a specific height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_grandCanyon {
    /* The image used */
    background-image: url("/assets/img/aboutMe/grandCanyon-min.jpg");
    /* Set a specific height */
    height: 450px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_vancouver {
    /* The image used */
    background-image: url("/assets/img/aboutMe/vancouverBridge-min.jpg");
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_ininOffice2 {
    /* The image used */
    background-image: url("/assets/img/aboutMe/ininOffice2.jpg");
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_mtbaldy {
    /* The image used */
    background-image: url("/assets/img/aboutMe/mtbaldy-min.jpg");
    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

span.border {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/*---------------------------------------*/


/*=======================================*/
/*=======================================*/



/*============= PROJECT PAGE ============*/

.projects {
  width: 1000px;
  margin: auto;
}

.project {
  display: block;
  position: relative;
  /*float: left;*/
}

.project_img_container {
  width: 24%;
  margin: 2%;
  /*float: left;*/
  cursor: pointer;
  border: 1px solid blue;
}

.project_img_container:hover {
  border: 1px solid red;
}

.project_img_container_nolink {
  width: 24%;
  margin: 2%;
  /*float: left;*/
  border: 1px solid black;
}

.project_img {
  width: 100%;
}

.project_details {
  width: 68%;
  margin: 1px 2%;
  /*float: left;*/
}

.project_name {
  font-weight: bold;
  font-size: 18px;
}

.project_descriptor {
  font-weight: bold;
}

.project_info {
  display: block;
  margin: 10px;
}

.project_blurb {
  font-style: italic;
}

@media screen and (max-width: 1000px) {
  .projects {
    width: 98%;
    margin: 1%;
  }
}

@media screen and (max-width: 550px) {

  .project_img_container {
    /*float: left;*/
    width: 96%;
    margin: 2%;
  }

  .project_img_container_nolink {
    /*float: left;*/
    width: 96%;
    margin: 2%;
  }

  .project_details {
    /*float: left;*/
    width: 96%;
    margin: 2%;
  }
}
/*=======================================*/
/*=======================================*/



/*============ CONTACT PAGE =============*/

.contact_info {
  display: block;
  align-content: center;
  text-align: center;
  /*border: 3px solid black;*/
}

.contact_name {
  font-size: 18px;
  font-weight: bold;
  /*border: 2px solid green;*/
}

.contact_details {
  /*border: 2px solid blue;*/
}

.resume {
  width: 80%;
  margin: 10%;
  display: flex
  justify-content: center;
  /*float: left;*/
}

.resume_img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}



/*=======================================*/
/*=======================================*/


/*=============== FOOTER=== =============*/



.footer_text {
  color: white;
}


/*=======================================*/
/*=======================================*/


