.navbar {
    background-color: #282828;
    font-color: white;
    border-radius: 2px;
    margin-bottom: 20px;
    border: none;
    position: relative;

}

/*--------- bootstrap CSS changes -------*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #585958;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #282828;
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

/*---------------------------------------*/


.home-page, .AboutMe{
  margin-left: 20px;
  margin-right: 20px;
}

/*============== HOME PAGE ==============*/

.fjeng {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.headline {
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}


/*------------ profile section ----------*/
.profile {
  display: inline;
  width: 21%;
  float: left;
  margin: 2%;
}

.profile_photo {
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
}



/*---------------------------------------*/

/*----------- home blurb section ----------*/
.home_blurb {
  border: 1px solid black;
  border-radius: 4px;
  margin: 2%;
  display: inline;
  float: left;
  width: 71%;
  padding: 5px;
  font-size: 15px;
}

/*---------------------------------------*/

/*----------- home navi section ---------*/

.home_nav {
  display: block;
  width: 100%;
  float: left;
  padding-top: 15px;
}

.home_nav_buttons {
  display: inline;
  float: left;
  border: 1px solid black;
  width: 31.3%;
  margin: 1%;
  cursor: pointer;
}

.home_nav_link {
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.home_nav_img {
  max-width: 100%;
  max-height: 100%;
  width: 1000px;
  padding: 24%;
  background-image: url("/assets/img/grandCanyon.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*---------------------------------------*/


@media screen and (max-width: 900px) {

  .profile_photo {
    width: 100%;
  }

}

@media screen and (max-width: 800px) {

  .home_nav_buttons {
    display: block;
    width: 47%;
    margin: 10px 1.5%;
  }
}
  

@media screen and (max-width: 550px) {
  .profile {
    display: block;
    width: 100%;
    float: none;
    margin-left: 30%;
  }
  .profile_photo {
    width: 40%;
  }

  .home_blurb {
    display: block;
    width: 90%;
    float: none;
    margin: 5%;
  }

  .home_nav_buttons {
    display: block;
    width: 90%;
    margin: 5%;
  }
}

/*=======================================*/
/*=======================================*/





/*============ ABOUT ME PAGE ============*/

.about_me_header {
  font-size: 15px;
  font-weight: bold;
}

.parallax_home {
    /* The image used */
    background-image: url("/assets/img/grandCanyon.jpg");
    /* Set a specific height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    /* The image used */
    background-image: url("/assets/img/grandCanyon.jpg");
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_vancouver {
    /* The image used */
    background-image: url("/assets/img/vancouverBridge.jpg");
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_ininOffice {
    /* The image used */
    background-image: url("/assets/img/ininOffice.jpg");
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_ininOffice2 {
    /* The image used */
    background-image: url("/assets/img/ininOffice2.jpg");
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_mtbaldy {
    /* The image used */
    background-image: url("/assets/img/mtbaldy.jpg");
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_me {
  height: 200px;
  background-color: white;
}

.caption {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

span.border {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}


/*=======================================*/
/*=======================================*/

